@font-face {
  font-family: Comfortaa-Light;
  src: url(./components/view/assets/fonts/Comfortaa-Light.ttf)
}
@font-face {
  font-family: AlumniSans;
  src: url(./components/view/assets/fonts/AlumniSansCollegiateOne-Regular.ttf)
}

:root {
    --primary-color: #020038;
    --primary-hover-color: #7bced3;
    --primary-active-color: #7bced3;
    --gradient-color: linear-gradient(30deg, #7bced3 20%, #f5d156,#e98197, #85e481, #c1e4a5);
  }

  body {
    font-family: Comfortaa-Light, Georgia, 'Times New Roman', Times, serif;
  }

  .background-container {
    background-color: white;
    background: linear-gradient(#f5f5f5, 60%, #ffffff);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }  
  
  .dot-container {
    position: absolute;
    z-index: -1;
  }

  
  .glass-container {
    background-color: #d1e8ec57;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.068); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(78, 78, 78, 0.192);
    backdrop-filter: blur(5px);
  }
  
  .header {
    background-color: #020038;
    color: white;
    height: 350px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.068); 
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(78, 78, 78, 0.192);
 
  }
  
  h1 {
    color: white;
    font-size: 8em;
    font-family: AlumniSans, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.5rem;
    background: var(--gradient-color);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-blend-mode: multiply; 
  }

  h2, h3, h4, h5 {
    margin: 0;
  }

  .form-field {
    background-color: #7bced333;
    height: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(102, 102, 102, 0.137);
    backdrop-filter: blur(5px);
  }

  .form-field-xs {
    height: 3rem;
  }

  .form-field:focus, .form-field-xs:focus {
    background-color: #7bced3af;
    border: 1px solid rgba(0, 0, 0, 0.068);
    box-shadow: inset 0 0 10px rgba(189, 189, 189, 0.479);
  }

  .list-group-item .form-check-input[type=checkbox] {
    background-color: #7bced333;
    color:#020038;
    border: 1px solid rgba(0, 0, 0, 0.068);
    margin: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(102, 102, 102, 0.137);
    backdrop-filter: blur(5px);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .list-group-item .form-check-input[type=checkbox]:hover {
    background-color: #7bced3af;
  }

  .list-group-item .form-check-input[type=checkbox]:checked {
    background-color: #7bced3af;
  }

  .task-completed {  
    color: #212529be;  
    text-decoration: line-through;
    text-decoration-color:#7bced3;
    
  }
 
  .no-wrap-text {
    white-space: nowrap;
  }
  
  .custom-btn, .custom-dropdown{
    height: 5rem;
  }

  .custom-btn-xs {
    height: auto;
    margin-inline: 10px;
  }

  .btn.btn-primary {
    background-color: var(--primary-color);
    
  }

  .btn.btn-primary:active, .btn.btn-primary:active:focus, .btn.btn-primary:focus {
    background-color: var(--primary-active-color);
  }

  .btn.btn-primary:hover , .btn.btn-primary:focus {
    background-color: var(--primary-hover-color);
    color:#020038;
  }

  .btn.btn-primary:hover .fa-caret, .btn.btn-primary:focus .fa-caret {
    color:#020038;
  }


  .dropdown-toggle::after {
    display:none !important;
  }

  .list-group-item:focus, .list-group-item:focus .fa-arrow-down {
    background-color: #020038;
    color: white;
  }

  .icon {
    width: 40px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    color: #020038;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px rgba(51, 51, 51, 0.075)) ;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
  }

  .icon:hover {
    filter: drop-shadow(3px 4px 5px rgba(51, 51, 51, 0.171)) ;
  }

  .icon-zoom.icon:hover, .icon:active { 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out;
 }

  .custom-menu-btn button, .custom-menu-btn button:hover, .custom-menu-btn button:active, .custom-menu-btn button:focus {
   background: none !important;
   border: none !important;
   padding: 0 !important;
  }
  
  
  .fa-star {
    color: #7bced3;
    width: 35px;
    height: 35px;
    line-height: 40px;    
  }

  .fa-star-priority {
    color: #f5d056;
  }

  .fa-file-pen {
    width: 30px;
    height: 30px;
  }

  .fa-trash {
    color: #ff7e70;
    width: 27px;
    height: 27px;
  }

  .fa-caret {
    color: #7bced3; 
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
  }

  
  .jump-animation {
    animation-name: jump;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: center;
  }
  
   
  @keyframes jump {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    20%, 80% {
      transform: translateY(-2px) rotate(5deg);
    }
    40%, 60% {
      transform: translateY(-1px) rotate(-5deg);
    }
  }
 

  @media (min-width: 220px) {
    h1 {
      font-size: 4rem;
    }
  }

  @media (min-width: 576px) {
    h1 {
      font-size: 5rem;
    }
   
  }
  
  @media (min-width: 768px) {
    h1 {
      font-size: 6rem;
    }
  }
  
  @media (min-width: 992px) { 
     

       h1 {
       font-size: 8rem;
     }  
  }
  
 