
:root {
    --primary-color: #2b3035;
    --primary-hover-color: #626870;
    --primary-active-color: #1d2124;
  }

  .btn.btn-primary {
    background-color: var(--primary-color);
  }

  .btn.btn-primary:active, .btn.btn-primary:active:focus, .btn.btn-primary:focus {
    --primary-active-color: #1d2124;
  }

  .btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: var(--primary-hover-color);
  }

  .dropdown-toggle::after {
    display:none !important;
}
  .list-group-item:focus {
    background-color: #2b3035;
  }

  .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(238, 106, 45);
    filter: drop-shadow(2px 2px 3px rgba(51, 51, 51, .15)) ;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
  }

  .icon:hover {
    filter: drop-shadow(3px 4px 5px rgba(51, 51, 51, .30)) ;
  }

  .icon-zoom.icon:hover, .icon:active { 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out;
 }

 .custom-menu-btn button, .custom-menu-btn button:hover, .custom-menu-btn button:active, .custom-menu-btn button:focus {
  background: none !important;
  border: none !important;
  padding: 0 !important;
 }
  
  .fa-star {
    color: #626870; 
    width: 40px;
    height: 40px;
    line-height: 40px;    
  }

  .fa-star-priority {
    color: rgb(255, 196, 0);
  }

  .jump-animation {
    animation-name: jump;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: center;
  }
  
  @keyframes jump {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    20%, 80% {
      transform: translateY(-2px) rotate(5deg);
    }
    40%, 60% {
      transform: translateY(-1px) rotate(-5deg);
    }
  }
  
  .fa-plus {
    width: 25px;
    height: 25px;
  }
  
  .h1 {
    font-size: 80px;

  }